<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test Site</title>
  </head>
  <body>
    {{> header}}
    <p>{{screamIt This is some test page!}}</p>
    {{> footer}}
  </body>
</html>